.btn {
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--title-text-color);
  }
  &-primary {
    padding: 10px 32px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    background-color: var(--accent-color);
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  }
  &-modal {
    width: 200px;
    height: 50px;
    padding: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border: none;
    border-radius: 4px;
    color: var(--title-text-color);
    background-color: var(--accent-color);
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  }
  &-secondary-permanent,
  &-secondary {
    display: inline-block;
    padding: 6px 22px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.03em;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
  }
  &-secondary-permanent {
    box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
      0 2px 2px 0 rgba(0, 0, 0, 0.12);
    background-color: var(--accent-color);
    color: var(--title-text-color);
  }
  &-secondary {
    color: var(--primary-text-color);
    background-color: var(--secondary-bgc);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &-secondary:hover,
  &-secondary:focus {
    box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
      0 2px 2px 0 rgba(0, 0, 0, 0.12);
  }
  &-submit {
    @include centeredFlex(flex, center, center);
    width: 200px;
    height: 50px;
    padding: 0;
    font-weight: bold;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    background-color: var(--accent-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  &-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
  }
}
.buttons-list {
  @include centeredFlex(flex, center, null);
  margin-bottom: 50px;
}
.buttons-list__item:not(:last-child) {
  margin-right: 8px;
}
.btn-field {
  display: flex;
  justify-content: center;
}
