.body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
// img {
//   display: block;
//   max-width: 100%;
//   height: auto;
// }
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.work-list {
  @include centeredFlex(flex, space-between, null);
}
.team-list {
  @include centeredFlex(flex, null, null);
  flex-wrap: wrap;
  @media screen and (min-width: 1200px) {
    @include centeredFlex(flex, space-between, null);
  }
}
.features-list {
  @include centeredFlex(flex, null, null);
  flex-wrap: wrap;
  @media screen and(min-width: 1200px) {
    justify-content: space-between;
  }
}
.fSocials-list {
  @include centeredFlex(flex, space-between, null);
}
.social-list {
  @include centeredFlex(flex, center, null);
}
.client-list {
  @include centeredFlex(flex, null, null);
  flex-wrap: wrap;
  @media screen and(min-width:1200px) {
    @include centeredFlex(null, space-between, null);
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.title {
  margin-top: 60px;
  margin-bottom: 30px;
  @media screen and(min-width:1200px) {
    margin-top: 0px;
    margin-bottom: 50px;
  }
}
.work-title,
.team-title,
.client-title {
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  @media screen and (min-width: 1200px) {
    font-size: 36px;
  }
}
.input:focus,
.input:hover {
  border-color: var(--accent-color);
}
