.footer {
  background-color: var(--accent-bgc);
  color: var(--title-text-color);
  // padding: 60px 0;
  &-group {
    display: block;
    flex-direction: column;
    align-items: center;
    // display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    // flex-direction: row;
    // justify-content: space-between;
    // align-items: baseline;
  }
  &-tablet {
    @media screen and(min-width: 768px) {
      @include centeredFlex(flex, space-around, baseline);
    }
    display: block;
    margin-bottom: 60px;
  }
  &__text {
    @include centeredFlex(flex, center, null);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}
.fAuth {
  @include centeredFlex(flex, null, center);
  flex-direction: column;
  margin-bottom: 60px;
  @media screen and(min-width: 768px) {
    margin-bottom: 0;
  }
}
// .footer-tablet {
//   display: block;
//   @media screen and (min-widht: 768px) {
//     @include centeredFlex(flex, null, space-around);
//   }
// }
.fAuth-logo {
  // display: inline-block;
  margin-bottom: 20px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #ffffff;
  &__web {
    color: var(--accent-color);
  }
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.17;
  }
}
.fAuth-list {
  @include centeredFlex(flex, null, center);
  flex-direction: column;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  &__item:nth-child(-n + 2) {
    margin-bottom: 5px;
  }
  &__location {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  &__contacts {
    text-decoration: none;
    color: var(--footer-contacts-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}
.fSocials {
  @include centeredFlex(flex, center, center);
  flex-direction: column;
  // width: 206px;
  &-list {
    &__item {
      // display: flex;
      // justify-content: center;
      // align-items: center;
      width: 44px;
      height: 44px;
      &:not(last-child) {
        margin-right: 10px;
      }
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.1);
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover,
      &:focus {
        background-color: var(--accent-color);
      }
    }
    &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: inherit;
      height: inherit;
      border-radius: 50%;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:focus {
        background-color: var(--accent-color);
      }
    }
    &__icon {
      fill: var(--title-text-color);
    }
  }
}
// .fMailing {
//   // @include centeredFlex(block, null, center);
//   // flex-direction: column;
// }
.fMailing-form {
  @include centeredFlex(flex, center, center);
  flex-direction: column;
  &__input {
    // margin-right: 12px;
    width: 100%;
    height: 50px;
    background-color: var(--accent-bgc);
    padding: 15px 16px;
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and(min-width: 768px) {
      max-width: 450px;
    }
  }
  &__icon {
    margin-left: 10px;
  }
}
