.header {
  font-size: 40px;
  font-weight: 500;

  line-height: 1.17;
  letter-spacing: 0.02em;
  border-bottom: #ececec 1px solid;
  @media screen and(min-width: 768px) {
    font-size: 14px;
    line-height: 1.14;
  }
}
.head {
  @include centeredFlex(flex, space-between, center);
  // @media screen and(min-width:1200px) {
  //   justify-content: start;
  // }
}
.logo,
.menu__link,
.auth__contacts {
  display: inline-flex;
}
.logo {
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000000;
  &__web {
    color: var(--accent-color);
  }
  @media screen and(min-width: 768px) {
    padding: 0;
  }
  @media screen and(min-width: 1200px) {
    font-size: 26px;
    line-height: 1.2;
    padding-top: 24px;
    padding-bottom: 24px;
    // margin-right: 93px;
  }
}
.menu {
  @media screen and(min-width: 768px) {
    margin-right: 84px;
  }
  @media screen and(min-width:1200px) {
    margin-right: 305px;
  }
  // display: none;
  // margin-left: 93px;

  &__link {
    padding: 16px 0;
    color: var(--primary-text-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and(min-width: 768px) {
      padding: 32px 0;
    }
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
    &--current {
      color: var(--accent-color);
      padding-top: 0;
      margin-top: 16px;
      @media screen and(min-width: 768px) {
        margin-top: 0;
        padding: 32px 0;
        &::after {
          content: '';
          position: absolute;
          bottom: -1.2px;
          width: 100%;
          border-bottom: 4px solid var(--accent-color);
          border-radius: 2px;
        }
      }
    }
  }
  @media screen and(min-width: 768px) {
    display: flex;
    // margin-left: 88px;
  }
}
.menu-list {
  display: flex;
  flex-direction: column;
  @media screen and(min-width: 768px) {
    flex-direction: row;
    align-items: center;
  }
  &__item {
    position: relative;
    @media screen and(min-width: 768px) {
      &:not(:last-child) {
        margin-right: 50px;
      }
    }
  }
}

.auth-list {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 48px;
  // display: none;
  // margin-left: auto;
  font-style: normal;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  @media screen and(min-width:1200px) {
    flex-direction: row;
  }
  &__item {
    @media screen and(min-width:1200px) {
      margin-right: 30px;
    }
  }
}
.auth__contacts {
  align-items: center;
  /* justify-content: center; */
  color: var(--secondary-text-color);
  text-decoration: none;
  padding: 16px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &--tel {
    @media screen and(max-width: 767px) {
      font-size: 32px;
      line-height: 1.17;
      letter-spacing: 0.02em;
      color: var(--accent-color);
    }
    @media screen and(max-width: 358px) {
      font-size: 26px;
    }
  }
  &--mail {
    @media screen and(max-width: 767px) {
      font-size: 24px;
      line-height: 1.17;
      letter-spacing: 0.02em;
    }
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &:hover .icon-envelope,
  &:focus .icon-envelope,
  &:hover .icon-smartphone,
  &:focus .icon-smartphone {
    fill: var(--accent-color);
  }
  @media screen and (min-width: 768px) {
    padding: 5px 0;
  }
}
.icon-envelope,
.icon-smartphone {
  margin-right: 8px;
  fill: var(--secondary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and(max-width: 767px) {
    display: none;
  }
  @media screen and(min-width:1200px) {
    margin-right: 10px;
  }
}
.menu-container {
  display: flex;
}
