.menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px 40px;
  background-color: #fff;
  // z-index: 999;
  transform: translateY(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and(min-width: 768px) {
    position: relative;
    transform: translateY(0);
    width: auto;
    height: auto;
    flex-direction: row;
    align-items: center;
    padding: 0;
  }
  @media screen and(min-width:1200px) {
    margin-left: 93px;
    width: 100%;
  }
}
.menu-container.is-open {
  transform: translateY(0);
  z-index: 3;
}
.mobile-list {
  @include centeredFlex(flex, null, null);
  flex-wrap: wrap;
  margin-bottom: 16px;
  // @media screen and (max-width: 428px) {
  //   @include centeredFlex(null, space-between, null);
  //   margin-bottom: 46px;
  // }

  &__item {
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    padding: 0 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      border: none;
    }
    // @media screen and (max-width: 428px) {
    //   padding: 0;
    //   border: none;
    // }
  }

  &__link {
    color: #2196f3;
    text-decoration: none;
  }

  @media screen and(min-width: 768px) {
    display: none;
  }
}
