.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #3f51b5;
  // z-index: 999;
  transform: translateX(100%);
}
.menu-container.is-open {
  transform: translateX(0);
}
.test {
  width: 200px;
  height: 200px;
  background-color: yellowgreen;
}
.mobile-list {
  @include centeredFlex(flex, center, center);

  &__item {
    border: 5 px solid #757575;
  }

  &__link {
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2196f3;
    text-decoration: none;
    padding: 0 20px;
    border-right: 1px solid #757575;
  }

  @media screen and(min-width: 768px) {
    display: none;
  }
}
