.team {
  padding-top: 60px;
  background-color: var(--secondary-bgc);
  &-img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
  }
}
.team-list__item {
  // width: 270px;
  margin-bottom: 30px;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  @media screen and (min-width: 768px) {
    width: calc((100% - 1 * 30px) / 2);
    &:nth-child(-n + 2) {
      margin-bottom: 30px;
    }
    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
  }
}
.team-details {
  // padding: 30px 32px;
  border-left: #eee 1px solid;
  border-bottom: #eee 1px solid;
  border-right: #eee 1px solid;
  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 10px;
  }
  &__position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
    color: var(--secondary-text-color);
  }
}
.social-list {
  &__item {
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      background-color: var(--accent-color);
    }
    &:not(last-child) {
      margin-right: 10px;
    }
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
      background-color: var(--accent-color);
    }
    &:hover .social-list__icon,
    &:focus .social-list__icon {
      fill: var(--title-text-color);
      background-color: var(--accent-color);
    }
  }
  &__icon {
    fill: #afb1b8;
    background-color: #ffffff;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
