.hero {
  @include centeredFlex(flex, center, center);
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // margin-left: auto;
  // margin-right: auto;
  // max-width: 1600px;
  letter-spacing: 0.06em;
  text-align: center;
  // margin-bottom: 60px;
  background-color: var(--accent-bgc);
  // @media screen and(min-width:1200px) {
  //   margin: 0;
  // }
  &-block {
    width: 360px;
    @media screen and(min-width:1200px) {
      width: 696px;
    }
  }
  &-title {
    margin-top: 0px;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.61;
    text-transform: uppercase;
    color: var(--title-text-color);
    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
    }
  }
}
.overlay {
  max-width: 1600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      90deg,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 35%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url(../images/hero-w480.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        90deg,
        rgba(47, 48, 58, 0.4) 0%,
        rgba(47, 48, 58, 0.4) 35%,
        rgba(47, 48, 58, 0.4) 100%
      ),
      url(../images/hero-w480@2x.jpg);
  }
  @media screen and(min-width:481px) {
    background-image: linear-gradient(
        90deg,
        rgba(47, 48, 58, 0.4) 0%,
        rgba(47, 48, 58, 0.4) 35%,
        rgba(47, 48, 58, 0.4) 100%
      ),
      url(../images/hero-w768.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          90deg,
          rgba(47, 48, 58, 0.4) 0%,
          rgba(47, 48, 58, 0.4) 35%,
          rgba(47, 48, 58, 0.4) 100%
        ),
        url(../images/hero-w768@2x.jpg);
    }
  }

  @media screen and(min-width:768px) {
    background-image: linear-gradient(
        90deg,
        rgba(47, 48, 58, 0.4) 0%,
        rgba(47, 48, 58, 0.4) 35%,
        rgba(47, 48, 58, 0.4) 100%
      ),
      url(../images/hero-w1600.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          90deg,
          rgba(47, 48, 58, 0.4) 0%,
          rgba(47, 48, 58, 0.4) 35%,
          rgba(47, 48, 58, 0.4) 100%
        ),
        url(../images/hero-w1600@2x.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    height: 600px;
  }
}
