.features {
  &-list__item {
    margin-bottom: 30px;
    // width: 270px;
    // @media screen (min-width: 1200px) {
    //   width: 270px:
    // }
  }
  &__icons {
    @include centeredFlex(flex, center, center);
    height: 120px;
    margin-bottom: 30px;
    background-color: #f5f4fa;
  }
  &__icon {
    width: 70px;
    height: 70px;
  }
  &__title {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--primary-text-color);
  }
  &__text {
    font-size: 14px;
    line-height: 1.71;
    color: var(--secondary-text-color);
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
  }
}
