.features {
  &-list__item {
    margin-bottom: 30px;
    @media screen and(max-width: 767px) {
      width: 100%;
    }
    @media screen and(min-width: 768px) and (max-width: 1199px) {
      &:nth-child(2n + 1) {
        margin-right: 30px;
      }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: calc((100% - 1 * 30px) / 2);
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
      margin: 0;
    }

    // width: 270px;
  }
  &__icons {
    @include centeredFlex(flex, center, center);
    height: 120px;
    margin-bottom: 30px;
    background-color: #f5f4fa;
  }
  &__icon {
    width: 70px;
    height: 70px;
  }
  &__title {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--primary-text-color);
  }
  &__text {
    font-size: 14px;
    line-height: 1.71;
    color: var(--secondary-text-color);
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
  }
}
