.client-list {
  &__item {
    @media screen and(min-width: 320px) and(max-width:1199px) {
      margin-bottom: 30px;
      &:nth-child(2n + 1) {
        margin-right: 30px;
      }
    }
    @media screen and(min-width:768px) and(max-width:1199px) {
      margin-right: 30px;
      &:nth-child(3n + 3) {
        margin-right: 0;
      }
    }
    @media screen and (min-width: 320px) and(max-width:1199px) {
      width: calc(50% - 1 * 30px / 2);
    }
    @media screen and(min-width: 768px) and (max-width: 1199px) {
      width: calc(33.3333% - 2 * 30px / 3);
    }
    // @media screen and(min-width:1200px) {
    //   width: 170px;
    //   height: 92px;
    // }
  }
  &__link {
    @include centeredFlex(flex, center, center);
    border: 1px solid #afb1b8;
    border-radius: 4px;
    // padding-top: 15px;
    // padding-bottom: 15px;
    width: 170px;
    height: 92px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      border-color: var(--accent-color);
    }
  }
  &__icon {
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: var(--accent-color);
    border-color: var(--accent-color);
  }
}
