.projects-list {
  display: flex;
  flex-wrap: wrap;
  &__link {
    display: block;
    text-decoration: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
      1px 4px 6px 0 rgba(0, 0, 0, 0.16);
    }
    &:hover .projects-overlay,
    &:focus .projects-overlay {
      transform: translateY(0);
    }
  }
  &__item {
    margin-right: 30px;
    margin-bottom: 30px;
    &:nth-child(3n) {
      margin-right: 0;
    }
    &:nth-child(n + 7) {
      margin-bottom: 0;
    }
  }
}

.projects-description {
  padding: 20px 24px;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  &__name {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
  }
  &__type {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
  }
}
.projects-thumb {
  position: relative;
  overflow: hidden;
}
.projects-overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  transform: translateY(102%);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &__text {
    color: #ffffff;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
  }
}